<!-- profile edit page, on sign-up -->

<div id="site-header">
	<div id="logo-home-link">
		<a href="/"><span 
								 style="color:#EBC805">Yellow</span><span 
								 style="color:red">red</span><span 
								 style="color:#068A19"><span 
								 style="font-size:14pt"><sub>&hearts;</sub></span>me</span></a>
	</div>
	
	<div id="current-user-thumbnail-utility">
			Welcome, <%= current_user.email.split('@')[0] %>!
			<%= button_to "Log Out", session_url, :method => :delete %>
	</div>
</div>

<div id="all-content">
	
	<div id="profile-left-sidebar" class="round-corners">
		<sub>&hearts;</sub>me
	</div>
	
	<div id="central-content" class="round-corners">
		<div class="errors-marquee">
			<% unless flash[:errors].nil?%>
				<% flash[:errors].each do |error_message| %>
					<%= error_message %>
				<% end %>
			<% end%>
		</div>
		
		<form action="<%= profile_url %>" method="post" id="profile-edit-form" accept-charset="utf-8">
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			
		<div id="username">
			<label for="profile_username">Username</label>
			<input type="text" name="profile[username]" value="<%= @profile.username %>" id="profile_username">
		</div>
		<div id="gender">
			<label for="profile_gender">Gender</label>
			<select name="profile[gender]" id="profile_gender">
				<option value=""></option>
				<% options = Profile::GENDERS %>
				<% options.each do |gender| %>
					<% option_value = gender.split('genderqueer/')[-1] %>
			    <option value="<%= option_value %>"
						<% if @profile.gender == option_value %>
								selected
						<% end %>><%= gender %></option>
				<% end %>				
			</select><br>
		</div>
		
		<div id="profile-form-seeking">
			<div class="checkbox-group">
				Looking for:<br>
					<div class="checkbox-group">
						<input type="checkbox" 
									 name="profile[friends_wanted]" 
									 value="true"
									 <% if @profile.friends_wanted %>
										 checked
									 <% end %>>Friends<br>
						<input type="checkbox" 
									 name="profile[dating_wanted]" 
									 value="true"
									 <% if @profile.dating_wanted %>
										 checked
									 <% end %>>Dating<br>
						<input type="checkbox" 
									 name="profile[hookups_wanted]" 
									 value="true"
									 <% if @profile.hookups_wanted %>
										 checked
									 <% end %>>Hookups<br>
					</div>
			</div>
		
			<div class="checkbox-group">
				Interested in:<br>
					<div class="checkbox-group">
						<input type="checkbox" 
									 name="profile[men_wanted]" 
									 value="true"
									 <% if @profile.men_wanted %>
										 checked
									 <% end %>>Men<br>
						<input type="checkbox" 
									 name="profile[women_wanted]" 
									 value="true"
									 <% if @profile.women_wanted %>
										 checked
									 <% end %>>Women<br>
						<input type="checkbox" 
									 name="profile[nonbinary_wanted]" 
									 value="true"
									 <% if @profile.nonbinary_wanted %>
										 checked
									 <% end %>>Genderqueer/Nonbinary folks<br>	
					</div>
			</div>
			
		</div>
	
		<div id="about-me">
			<label for="profile_about_me">About me:</label><br>
			<textarea name="profile[about_me]" 
								id="profile_about_me" 
								rows="10" 
								cols="43"><%= @profile.about_me %></textarea>
		</div>
		
		<div id="my-stats">
			My Stats:<br>
			<label for="profile_height">Height</label>
			<select name="profile[height]" id="profile_height">
				<option value=""></option>
				<% options = Profile::HEIGHTS %>
				<% options.each do |height| %>
				<% hieght_feet_inches = height.divmod(12) %>
			    <option value="<%= height %> %>"
						<% if @profile.height == height %>
								selected
						<% end %>><%=hieght_feet_inches[0]%>' <%=hieght_feet_inches[1]%>"</option>
				<% end %>	
			</select><br>		
			
			<label for="profile_body_type">Body Type</label>
			<select name="profile[body_type]" id="profile_body_type">
				<option value=""></option>
				<% options = Profile::BODY_TYPES %>
				<% options.each do |body_type| %>
			    <option value="<%= body_type %>"
						<% if @profile.body_type == body_type %>
							selected
					  <% end %>><%= body_type %></option>
				<% end %>				
			</select><br>

			<label for="profile_religion">Religion</label>
			<select name="profile[religion]" id="profile_religion">
				<option value=""></option>
				<% options = Profile::RELIGIONS %>
				<% options.each do |religion| %>
			    <option value="<%= religion %>"
						<% if @profile.religion == religion %>
							selected
					  <% end %>><%= religion %></option>
				<% end %>				
			</select><br>
			
			<label for="profile_education">Education</label>
			<select name="profile[education]" id="profile_education">
				<option value=""></option>
				<% options = Profile::EDUCATION_LEVELS %>
				<% options.each do |education| %>
			    <option value="<%= education %>"
						<% if @profile.education == education %>
							selected
					  <% end %>><%= education %></option>
				<% end %>					
			</select><br>
			
			<label for="profile_children">Kids?</label>
			<select name="profile[children]" id="profile_children">
				<option value=""></option>
				<% options = Profile::CHILDREN_CHOICES %>
				<% options.each do |children| %>
			    <option value="<%= children %>"
						<% if @profile.children == children %>
							selected
					  <% end %>><%= children %></option>
				<% end %>				
			</select><br>
			
			<label for="profile_pets">Pets?</label>
			<select name="profile[pets]" id="profile_pets">
				<option value=""></option>
				<% options = Profile::PET_CHOICES %>
				<% options.each do |pets| %>
			    <option value="<%= pets %>"
						<% if @profile.pets == pets %>
							selected
					  <% end %>><%= pets %></option>
				<% end %>				
			</select><br>
		</div>
			<div style="float:right;padding:5px">
				<input class="button" type="submit" value="Save Profile">
			</div>
		</form>
		<br>
		<div style="float:right;text-align:right;padding-bottom:5px;padding-right:5px;width:95%">
			<%= button_to "Go to Home without saving", root_url, :method => :get, :class => "button" %>
		</div>
	</div>
	
	<div id="right-sidebar">
		<div id="yellow-box" class="round-corners">
			I'm in the yellow box
		</div>
		
		<div id="red-box" class="round-corners">
			I'm in the red box
		</div>
	</div>
	
</div>