
<div id="all-content">
	<div id="lobby-sidebar" class="round-corners shadow">
		
		<%= render "shared/errors_marquee" %>
		
		<form action="<%= session_url %>" method="post" accept-charset="utf-8">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label for="user_username">Email</label>
			<br>
			<input type="text" name="user[email]" value="<%= @user.email %>" id="user_username">
			<br>
			<label for="user_password">Password</label>
			<br>
			<input type="password" name="user[password]" id="user_password">
			<br><br>
			<input type="submit" value="Log In" class="button">
		</form>
		<%= button_to "New? Sign up!", signup_url, :method => :get, :class => "button" %>
	
	</div>

	<%= render "shared/lobby_blurb" %>
	
</div>