<div id="<%= 'message' + message.get('id') %>"
     class="message-card round-corners shadow" 
     data-id="<%= message.get('id') %>">
     
   <img class="profile-thumb-photo"
        src="<%= message.get('photo_url') %>"
        style="align:top-left;margin-right:5px">
     
   <div style="float:right"><%= message.get('timestamp') %></div>
   
   From: <%= message.escape('sender_username') %>
   <br>
   <button class="delete-message button" 
           id="<%= 'delete-messsage' + message.get('id') %>" 
           data-id="<%= message.get('id') %>"
           style='float:right'>Delete Message</button>
   To: <%= message.escape('recipient_username') %>
   <br>
   <br>
   <div id="<%= 'message-' + message.get('id') + '-content' %>">
     <%= listData %>
   </div>
</div>