<div id="<%= 'message' + message.get('id') %>"
     class="message-card round-corners shadow" 
     data-id="<%= message.get('id') %>">
     
   <div class="profile-thumb-photo"
        style="align:top-left;margin-right:5px;padding-bottom:4px;padding-right:0px"
        data-id="<%= message.escape('profile_id') %>">
        <img  src="<%= message.get('photo_url') %>">
        <br>
        <span style="padding-right:3px">drag me!</span>
    </div>
     
   <div style="float:right"><%= message.get('timestamp') %></div>
   
   From: <%= message.escape('sender_username') %>
   <br>
   <button class="delete-message button" 
           id="<%= 'delete-messsage' + message.get('id') %>" 
           data-id="<%= message.get('id') %>"
           style='float:right'>Delete Message</button>
   To: <%= message.escape('recipient_username') %>
   <br>
   <br>
   <div id="<%= 'message-' + message.get('id') + '-content' %>">
     <%= listData %>
   </div>
</div>