<div id="site-header">
	<div id="logo-home-link">
		<a href="/"><span 
								 style="color:#EBC805">Yellow</span><span 
								 style="color:red">red</span><span 
								 style="color:#068A19"><span 
								 style="font-size:14pt"><sub>&hearts;</sub></span>me</span></a>
	</div>
</div>
																				
<div id="all-content">
	<div id="lobby-sidebar" class="round-corners">

		<div class="errors-marquee">
			<% unless flash[:errors].nil?%>
				<% flash[:errors].each do |error_message| %>
					<%= error_message %>
				<% end %>
			<% end%>
		</div>

		<form action="<%= users_url %>" method="post" accept-charset="utf-8">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

				<label for="user_username">Username</label>
				<input type="text" name="username" value="<%= @profile.username %>" id="user_username">
				<br>
	
				<label for="user_email">Email</label>
				<input type="text" name="user[email]" value="<%= @user.email %>" id="user_email">
				<br>

				<label for="user_password">Password</label>
				<input type="password" name="user[password]" id="user_password">
				<br>
																							
				<input type="submit" value="Sign Up!" class="button" style="display:inline">
	
		</form>

		<%= button_to "Back to Lobby", lobby_url, :method => :get, 
																							:class => "button",
																							:style => "display:inline" %>

	</div>

</div>