<div class="profile-card round-corners shadow" data-username="<%= profile.escape('username')%>" >
  
  <div class="profile-thumb-photo">
    <img src="<%= profile.escape('photo_thumb_url') %>">
    <br>
    drag me!
  </div>
  
  <div class="profile-card-data">
    
    
  	<strong><%= profile.escape('username') %></strong><br>
  	<%= profile.escape('gender') || 'gender not specified' %>
    <br>
    <%= profile.get('stars_count') %> Stars
    <br>
  	<%= JST['profiles/mns_buttons']({ profile: profile }) %>
  </div>
  
</div>