<!-- profile show/detail template -->
<div id="profile-detail" class="round-corners shadow">
  <%= profile.get('stars_count') %> Stars
  <p>
  	Username: <%= profile.escape('username')%><br>
  	Gender: <%= profile.escape('Gender')%><br>
  	Height: <%= profile.escape('height')%><br>
  	About Me: <%= profile.escape('about_me')%><br>
  </p>
</div>