<div class="<%= 'mini-profile-card mini-' + maybe_state %>" data-username="<%= profile.escape('username')%>" > 
  <% if (maybe_state == "maybe") { %>
    <img src="<%= profile.escape('photo_thumb_url') %>" 
         class="profile-thumb-photo">
         
     <div style="margin-left:5px">
       <% if (profile.get('starred')) { %>
         <button class="unstar button" 
                 data-id="<%= profile.escape('id')%>"><%= profile.get('stars_count') %> &#9733;</button>
       <% } else { %>
         <button class="star button" 
                 data-id="<%= profile.escape('id')%>"><%= profile.get('stars_count') %> &#9733;</button>
       <% } %>
     </div>
    
  <% } else { %>
    <%= profile.get('username') %>
  <% } %>
</div>