
<% if (profile.get('maybed')) { %>
  <button class="unmaybe button" data-id="<%= profile.escape('id')%>">unMaybe</button>
<% } else { %>
  <button class="maybe button" data-id="<%= profile.escape('id')%>">Maybe</button>
<% } %>
        
<% if (profile.get('noped')) { %>
  <button class="unnope button" data-id="<%= profile.escape('id')%>">unNope</button>
<% } else { %>
  <button class="nope button" data-id="<%= profile.escape('id')%>">Nope</button>
<% } %>
        
<% if (profile.get('starred')) { %>
  <button class="unstar button" data-id="<%= profile.escape('id')%>">unStar</button>
<% } else { %>
  <button class="star button" data-id="<%= profile.escape('id')%>">Star</button>
<% } %>
