<!DOCTYPE html>
<html>
<head>
  <title>YellowRed.me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="site-header">
		<div id="logo-home-link">
			<a href="/">YellowRed<sub>&hearts;</sub>me</a>
		</div>
		
		<div id="current-user-thumbnail-utility">
				<% unless current_user.nil? %>
					Welcome, <%= current_user.email.split('@')[0] %>!
					<%= button_to "Log Out", session_url, :method => :delete %>
				<% end %>
		</div>
		
	</div>
	
	
<%= yield %>

</body>
</html>
