<!DOCTYPE html>
<html>
<head>
  <title>YellowRed.me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="site-header">
		<div id="logo-home-link">
			<a href="/"><span style="color:#FCE700">Yellow</span><span 
									      style="color:#FF0000">red</span><span 
									      style="color:#068A19"><span 
									      style="font-size:14pt"><sub>&hearts;</sub></span>me</span></a>          
      <span id="site-tagline">
        a dating site
      </span>
		</div>
  

		<% unless current_user.nil? %>
			<div id="current-user-thumbnail-utility" class="round-corners shadow">
					Welcome, <%= current_user.profile.username %>!
					<%= button_to "Log Out", session_url, :method => :delete, :class => "button" %>
			</div>
		<% end %>
	</div>
	
<%= yield %>

</body>
</html>
